.film-page{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto;


    background: url("../App/background.png");
    background-repeat: repeat-y;
    border-style: none;

    flex: 1 0 auto;
}

.likeButton_disabled, .dislikeButton_disabled, .likeButton_enabled, .dislikeButton_enabled{
    justify-self: center;
    height: 250px;
    width: 250px;
}

.likeButton_disabled{
    background: url(./like_disabled.png) no-repeat;
}

.dislikeButton_disabled{
    background: url(./dislike_disabled.png) no-repeat;
}

.likeButton_enabled{
    background: url(./like_enabled.png) no-repeat;
}

.dislikeButton_enabled{
    background: url(./dislike_enabled.png) no-repeat;
}

.film-page > label{
    background-color: inherit;
    border-style: inherit;
    font-size: 24px;
}

.film-page > label:nth-child(1){
    font-size: 36px;
    justify-self: center;
    grid-column: 1/3;
}
