.app-header {
  /*background: green;*/
  padding: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-buttons{
  flex:1;
  margin: 0 40px;
  font-size: 25px;
  text-transform: none;
}

.auth-buttons{
  font-size: 25px;
  text-transform: none;
  margin-top:5px;
}


.nav_link {
  display: inline-block;
  vertical-align: top;
  margin:0 10px;

  color:#fff;
  text-decoration: none;

  transition: color.2s linear;
}

.nav_link:hover {
  color: #000;
}



.login {
  margin:0 auto;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  color: #fff;
  background: #000  ;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}

.login:hover {
  background: #fff;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: #000 ;
  transform: translateY(-7px);
}
