.FilmComponent{
    margin: 1vh;
    background-color: lightgrey;
    border-radius: 10px;
}

.FilmComponent-Flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.FilmComponent-Flex > button:nth-child(1){
    width: 15vw;
    height: 10vh;
    min-width: 240px;
    min-height: 90px;

    margin: 2vh;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    outline: none;

    background-color: coral;
}

.FilmComponent-Flex > button:nth-child(1):hover{
    background-color: rgb(255, 85, 23);
    /*cursor: pointer;*/
}