.FilmComponent{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1vh;
    background-color: rgba(211, 211, 211, 0.25);
    border-radius: 10px;
}

.FilmComponent-Flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}