.main-page-grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;

    border-style: none;

    flex: 1 0 auto;
}

.main-page-grid > label{
    background-color: inherit;
    border-style: inherit;
}

.main-page-grid > label:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5vh;
    background-color: inherit;
    border-style: inherit;
}

/*.main-page-grid > label{
    font-size: 24px;
}*/
.general-instruction-label{
    text-align: center;
    font-size: 24px;
}

.secondary-instruction-label{
    font-size: 20px;
    margin: 20px;
}


/*.main-page-grid{
    display: flex;
    justify-self: center;
    justify-items: center;
    flex-direction: row;
}*/
